pkgbase = hostapd-launch
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/ericwoud/archlinuxarm-repo/tree/hostapd-launch
	install = hostapd-launch.install
	arch = any
	license = GPL
	depends = systemd
	source = hostapd-launch
	source = override.conf
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = hostapd-launch
